/*
 *  author :
 *  email  :
 */

// Imports
@import "lib/colors"
@import "lib/flexbox"
@import "lib/mixins"
@import "lib/lost"


// Main (example)
form
	input[type=button]
		color: $color--dark

.u-clearfix:before 
	content: ''
	display: table


.SourceOrderingSection__grid
	background: #5f9ea0

.SourceOrderingSection__grid 
	div
		background: #568e90
		lost-waffle: 1